In [1]:
from src.data.data_cleaner import DataCleaner
from src.data.data_loader import DataLoader
from src.utils.public_imports import *

In [14]:
# Load the data
data_loader = DataLoader('../data/raw/dataset.csv')
raw_data = data_loader.load_data()

In [15]:
# Display the first few rows of the raw data
raw_data.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commission (in value),Gender,Age
0,JZI,Airlines,Online,Basic Plan,No,104.0,"TAIWAN, PROVINCE OF CHINA",35.0,12.25,M,34.0
1,EPX,Travel Agency,Online,Cancellation Plan,No,47.0,CHILE,80.0,0.00,NaN,36.0
2,EPX,Travel Agency,Online,2 way Comprehensive Plan,No,63.0,CHINA,35.0,0.00,NaN,36.0
3,EPX,Travel Agency,Online,2 way Comprehensive Plan,No,39.0,INDONESIA,20.0,0.00,NaN,36.0
4,EPX,Travel Agency,Online,Cancellation Plan,No,21.0,INDIA,29.0,0.00,NaN,36.0

In [16]:
# Display the data types of the raw data
raw_data.dtypes

Agency                    object
Agency Type               object
Distribution Channel      object
Product Name              object
Claim                     object
Duration                 float64
Destination               object
Net Sales                float64
Commission (in value)    float64
Gender                    object
Age                      float64
dtype: object

In [17]:
# Display the shape of the raw data
raw_data.shape

(21300, 11)

In [18]:
# Display the summary statistics of the raw data
raw_data.describe()

           Duration     Net Sales  Commission (in value)           Age
count  21299.000000  21299.000000           21299.000000  21299.000000
mean      47.177238     37.586096               7.981518     39.895065
std      112.548079     43.274026              16.760875     13.668370
min       -2.000000   -389.000000               0.000000      1.000000
25%       10.000000     18.000000               0.000000     36.000000
50%       23.000000     26.000000               0.000000     36.000000
75%       53.000000     44.000000               9.100000     42.000000
max     4881.000000    810.000000             283.500000    118.000000

In [19]:
# Display the missing values in the raw data
raw_data.isnull().sum()

Agency                       0
Agency Type                  0
Distribution Channel         0
Product Name                 0
Claim                        1
Duration                     1
Destination                  1
Net Sales                    1
Commission (in value)        1
Gender                   16962
Age                          1
dtype: int64

In [20]:
# Display the unique values in the 'Agency' column
raw_data['Agency'].unique()

array(['JZI', 'EPX', 'JWT', 'CWT', 'SSI', 'RAB', 'C2B', 'ART', 'KML',
       'CCR', 'CSR', 'CBH', 'ADM'], dtype=object)

In [21]:
# Clean the data
data_cleaner = DataCleaner()
cleaned_data = data_cleaner.clean_data(raw_data)

KeyError: 'Commission'

In [ ]:
# Display the first few rows of the cleaned data
cleaned_data.head()

In [ ]:
# Display the data types of the cleaned data
cleaned_data.dtypes

In [ ]:
# Display the shape of the cleaned data
cleaned_data.shape

In [ ]:
# Display the summary statistics of the cleaned data
cleaned_data.describe()